Source: openstack-debian-images
Section: web
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/openstack-debian-images.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/openstack-debian-images.git

Package: openstack-debian-images
Architecture: all
Depends: debootstrap,
         extlinux,
         initramfs-tools,
         kpartx,
         mbr,
         parted,
         qemu-utils,
         ${misc:Depends}
Description: script to build a Debian image for OpenStack
 This package contains a script which is helpful for creating images to be used
 with the OpenStack IaaS cloud software suite. It uses only tools available
 within Debian.
