#!/usr/bin/make -f

-include /usr/share/openstack-pkg-tools/pkgos.make

build-arch: build
build-indep: build
build:

clean:
	dh_testdir
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_prep

binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs
	dh_installman
	dh_install
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
